version: "3.9"

networks:
  condor_net_dev:
    external: true
    name: condor_net_dev

volumes:
  certbot_etc:
    external: true
    name: condor_certbot_etc

services:
  proxy:
    image: ghcr.io/${OWNER}/${IMAGE_PREFIX}-proxy:${PROXY_TAG_DEV}
    container_name: proxy_condor_dev
    environment:
      PROXY_MODE: ec2
      ENVIRONMENT: ${ENVIRONMENT:-dev}
    ports:
      - "80:8080"
      - "443:8443"
    volumes:
      - certbot_etc:/etc/letsencrypt:ro
    restart: always
    logging:
      driver: json-file
      options: { max-size: "10m", max-file: "3" }
    networks:
      - ${PROXY_NETWORK:-condor_net_dev}
