SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
TZ=America/Argentina/Buenos_Aires

# 00:00 del día 1 de cada mes (con lock para evitar solapados)
0 0 1 * * /usr/bin/flock -n /tmp/cron.lock -c 'cd /app && python manage.py generar_turnos_mensuales && python manage.py procesar_abonos_mensuales' >> /proc/1/fd/1 2>&1
